<head th:fragment="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=device-dpi" />
    <meta name="viewport" content="target-densitydpi=high-dpi" />
    <meta name="viewport" content="target-densitydpi=medium-dpi" />
    <meta name="viewport" content="target-densitydpi=low-dpi" />
    <meta name="viewport" content="target-densitydpi=212" />
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:href="@{/js/common.js}" ></script>
</head>